.home_logo {
  font-family: "Inter", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 6.510416666666667vw;
  line-height: 1.9893899204244032vh;
  color: #c5cae9;
  margin-left: 1.2369791666666667vw;
}

.home_section {
  margin-left: 5.338541666666667vw;
}

.home_input {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #303f9f;
  color: white;
  transition-duration: 0.4s;
}

.home_button {
  width: 15%;
  padding: 12px 20px;
  margin: 10px 29px;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #303f9f;
  color: white;
  transition-duration: 0.4s;
}
.home_button:hover {
  background-color: white;
  color: black;
}

.home_input[type="submit"]:hover {
  background-color: white;
  color: black;
}
.home_input_descricao {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #303f9f;
  color: white;
}

.home_input_descricao::placeholder {
  color: white;
}

.home_input::placeholder {
  color: white;
}

.home_article {
  display: flex;
  justify-content: space-around;
}

.home_article_edicao_data {
  display: flex;
  width: 85%;
}
.home_table {
  width: 95%;
  background-color: white;
  margin: 10px 29px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

.home_table_td_th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.home_texto_data {
  color: #c5cae9;
  font-family: "Roboto", "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
}

.home_end_page {
  display: flex;
  margin-left: 5.338541666666667vw;
  justify-content: space-between;
  margin-right: 5vw;
}

.home_table_body {
  border: 1px solid #dddddd;
}

.home_table_tr {
  border: 1px solid #e6e6e6;
}
